

.divImg{width:200px;  height:225px;  text-align: center;
        padding-bottom:5px;      
        float: left;
        margin-left: 5px;
        margin-right: 5px;
  }    


  #button{ margin-bottom: 5px;}